# adjust requirements.txt libraries as needed

apache-airflow[postgres,crypto]==2.0.2
awscli
boto3

apache-airflow-providers-docker
#botocore
#aiobotocore[boto3]
gsheets
pandas
psycopg2-binary
xlrd
s3fs~=0.4.0
tzlocal
pytz
pyyaml
pydomo
pymysql
python-intercom
